@charset "UTF-8";

:root {
    --bg-gradient-01: #faecb9;
    --bg-gradient-02: #cdded6;

    --bg-color: #cdded6;

    --body-color: #ddb8a7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--body-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-image: linear-gradient(165deg, var(--bg-gradient-01), var(--bg-gradient-02));
}

@media(min-width: 1300px) {
    .main {
        position: relative;
        max-width: 1920px;
        width: 100%;
        aspect-ratio: 34 / 16;

        overflow: hidden;
    }
}

@media(max-width: 1300px) {
    .main {
        position: relative;
        max-width: 1300px;
        width: 100%;
        aspect-ratio: 34 / 16;

        overflow: hidden;
    }
}

@media(max-width: 800px) {
    .main {
        position: relative;
        max-width: 800px;
        width: 100%;
        aspect-ratio: 34 / 16;

        overflow: hidden;
    }
}


.html {
    position: absolute;

    width: 30%;
    height: 100%;

    transform: scaleX(100%);
}

.site {
    position: absolute;

    width: 35%;
    height: 35%;

    top: 5%;
    left: 55%;
}

.site-intro {
    position: absolute;

    width: 80%;
    height: 80%;

    left: 10%;
    bottom: 10%;
}

.css {
    position: absolute;

    width: 20%;
    height: 25%;

    left: 30%;
    top: 46%;
    z-index: 1;

    margin-left: 33%;
    margin-right: 10%;
}

.table {
    position: absolute;
    width: 60%;
    height: 31%;

    top: 70%;
    left: 40%;
}

.whitebox {
    opacity: 100%;

    position: absolute;

    width: 100%;
    height: 100%;

    background-color: #fff;

    z-index: 5;
}