@charset "UTF-8";


/* 공통 css =================================================== */


@font-face {
    font-family: 'NanumSquareNeoLight';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeo';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoExtraBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoHeavy';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoVariable';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.ttf) format("truetype");
}

:root {
    --bg-gradient-01: #faede7;
    --bg-gradient-02: #ddb8a7;

    --bg-color: #cdded6;

    --body-color: #484242;

    --text-color: #49230f;
    --side-text: #4b4747;
    --border-color: #775441;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: var(--text-color);

    font-family: 'NanumSquareNeo', 'Arial', 'Times new Roman';
}

img {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--body-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: var(--bg-color);
}

@media(min-width: 1300px) {
    .main {
        position: relative;
        max-width: 1920px;
        width: 100%;
        aspect-ratio: 34 / 16;
        overflow: hidden;
    }
}

@media(max-width: 1300px) {
    .main {
        position: relative;
        max-width: 1300px;
        width: 100%;
        aspect-ratio: 34 / 16;

        overflow: hidden;
    }
}

@media(max-width: 800px) {
    .main {
        position: relative;
        max-width: 800px;
        width: 100%;
        aspect-ratio: 34 / 16;

        overflow: hidden;
    }
}


/* 상단 css =================================================== */


.item {
    width: 28%;
    height: 100%;
}

.sidebar {
    position: absolute;
    left: 7%;

    display: flex;

    justify-content: center;
    gap: 3%;

    width: 40%;
    height: 7%;
    overflow: hidden;

    z-index: 98;
}

.sidebar>.item {
    position: absolute;

    top: -100%;
}

.sidebar>.item:first-child {
    left: 2%;
}

.sidebar>.item:nth-child(3) {
    left: 70%;
}

.item>a>p {
    position: absolute;

    font-size: clamp(0.3rem, 1.2vw, 1.6rem);
    font-weight: bold;

    text-align: center;

    top: 16%;

    width: 100%;
    height: 100%;

    color: var(--side-text);

    filter: blur(0.4px);
}



/* 코드 입력 블록 css =================================================== */


.block {
    position: absolute;

    top: 10%;
    /* 정상 값은 10% */
    left: -38%;
    /* -38% */

    width: 40%;
    height: 87%;
    clear: left;

    box-shadow: 0px 6px 10px #1a19193a;

    z-index: 2;
}

.condition {
    position: absolute;

    top: 5%;
    left: 6%;

    width: 88%;
    height: 22.5%;

    padding: 2% 3% 3% 3%;

    text-align: center;
    font-size: clamp(0.2rem, 1.2vw, 1.4rem);
    line-height: 160%;

    opacity: 100%;
}

.condition>span {
    font-weight: bold;
}

#condition {
    opacity: 100%;
}

#answer {
    opacity: 100%;
}

.answer {
    position: absolute;

    top: 29%;
    left: 6%;

    width: 88%;
    height: 60%;

    padding: 2% 3% 3% 3%;

    white-space: pre-wrap;
    text-align: left;
    font-size: clamp(0.3rem, 1.35vw, 1.6rem);
    font-weight: bold;
    line-height: 140%;

    opacity: 100%;
}

#imgtext {
    position: absolute;

    width: 28%;
    height: 6%;

    top: 62.2%;
    left: 29.5%;

    text-align: center;
    font-size: clamp(0.3rem, 1.2vw, 1.6rem);
    border-color: var(--border-color);
    border-style: dashed;

    opacity: 0%;

    display: none;
}

#imgtext:focus {
    border-color: var(--border-color);
    border-style: dashed;

    outline: none;
}

#stick-answer {
    position: absolute;

    width: 25%;
    height: 6%;

    top: 62%;
    left: 29.5%;

    padding: 0.8% 0 0 0;

    text-align: center;
    font-size: clamp(0.3rem, 1.2vw, 1.6rem);
    border-color: var(--border-color);
    border-style: dashed;

    background-color: #fff;

    opacity: 100%;
    display: block;
}


/* 책장 css =================================================== */


.bookshelf {
    position: absolute;

    top: 10%;
    left: 30%;

    width: 40%;
    height: 95%;
}

.top {
    position: absolute;

    left: 10%;
    top: 8.5%;

    text-align: center;

    width: 80%;
    height: 21.3%;
}

/* 상단 */


.top>.picture {
    position: absolute;

    top: 0%;

    width: 26%;
    height: 100%;
}

#cute_stick {
    left: -1%;

    top: -30%;

    opacity: 0%;
    display: none;
}

#family_stick {
    right: 46%;

    top: -30%;

    opacity: 0%;
    display: none;
}

#cute,
#family {
    position: absolute;

    top: 0%;

    width: 26%;
    height: 100%;
}

#cute {
    left: -1%;
}

#family {
    right: 46%;
}

.frame1,
.picture {
    left: -1%;
    top: 0;

    position: absolute;
}

/* 중간 */


.middle {
    position: absolute;

    left: 10%;
    top: 38.5%;

    width: 80%;
    height: 21.3%;
}

.note {
    position: absolute;

    top: 85%;
    left: 61%;

    width: 16%;
    height: 15%;
}

/* 하단 */


.bottom {
    position: absolute;

    left: 8%;
    top: 68%;

    display: flex;

    justify-content: center;
    align-items: flex-end;
    gap: 1.7%;

    width: 84%;
    height: 29%;
}

.bottom>.item {
    width: 35%;
    height: 65%;
}


/* 캐릭터 css =================================================== */


.main-box {
    position: absolute;
    top: 10%;
    left: 0;

    display: block;
}

.character-box {
    position: absolute;

    left: 77%;
    top: 28%;

    width: 16%;
    height: 54%;

    z-index: 1;
}

#character {
    position: absolute;

    left: 0%;
    top: 0%;

    width: 100%;
    height: 100%;

    z-index: 1;
}

.overlay {
    position: absolute;

    top: 54%;
    left: 4%;

    width: 92.5%;
    height: 38.5%;
}

.overlay>h1 {
    position: absolute;

    left: 3%;
    top: 11%;

    width: 100%;
    height: 20%;

    font-size: clamp(0.6rem, 2.5vw, 3rem);
    font-weight: bolder;
}

#line {
    position: absolute;

    top: 32%;
    left: 3%;

    width: 100%;
    height: 76%;

    font-size: clamp(0.5rem, 1.9vw, 2.3rem);
    font-weight: lighter;

    opacity: 100%;
}

#line>span {
    font-size: clamp(0.4rem, 1.5vw, 2.1rem);
}


/* 화면전환 css =================================================== */


.whitebox {
    opacity: 100%;

    position: absolute;

    width: 100%;
    aspect-ratio: 34 / 16;

    background-color: #fff;

    z-index: 99;
}